.main-content{
	width: 50%!important;
	border-radius: 20px!important;
	box-shadow: 0 5px 5px rgba(0,0,0,.4)!important;
	margin: 5em auto!important;
	display: flex!important;
}
.company__info{
	background-color: #008080!important;
	border-top-left-radius: 20px!important;
	border-bottom-left-radius: 20px!important;
	display: flex!important;
	flex-direction: column!important;
	justify-content: center!important;
  color: #fff!important;
  width: 30%!important;
  text-align: center!important;
}
.fa-cloud{
  font-size:60px;
  text-shadow:2px 2px 4px #000000;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px!important;
		border-bottom-left-radius:20px!important;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080!important;
}
.row{
  display: inline;
}
.login_form{
	background-color: #fff !important;
	border-top-right-radius:20px!important;
	border-bottom-right-radius:20px!important;
	border-top:1px solid #ccc!important;
  border-right:1px solid #ccc!important;
  text-align: center!important;
  width: 70%!important;
}
form{
	padding: 0 2em!important;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4);
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
  width: 70%;
  height: 35px;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}

#register {
  cursor: pointer;
}
