<app-top-bar></app-top-bar>

<!-- 1st Row -->
<!-- Square One -->
<div class="square hvr-float-shadow hvr-border-fade">
  <div class="content">
      <div class="table hvr-shadow-radial">
        <tr class="header">ascascasca</tr>
        <tr class="body">
          <ul>This demo shows you can center multiple types of content :
          <li>Text</li>
          <li>Images</li>
          <li>Lists</li>
          <li>... (you can also do it with forms)</li>
      </ul></tr>
      </div>
  </div>
</div>

<!-- Square Two -->
<div class="square hvr-float-shadow hvr-border-fade">
  <div class="content">
    <div class="table hvr-shadow-radial">
      <tr class="header">ascascasca</tr>
      <tr class="body">
        <ul>This demo shows you can center multiple types of content :
        <li>Text</li>
        <li>Images</li>
        <li>Lists</li>
        <li>... (you can also do it with forms)</li>
    </ul></tr>
    </div>
  </div>
</div>

<!-- Square Three -->
<div class="square hvr-float-shadow hvr-border-fade">
  <div class="content">
    <div class="table hvr-shadow-radial">
      <tr class="header">ascascasca</tr>
      <tr class="body">
        <ul>This demo shows you can center multiple types of content :
        <li>Text</li>
        <li>Images</li>
        <li>Lists</li>
        <li>... (you can also do it with forms)</li>
    </ul></tr>
    </div>
  </div>
</div>

<!-- 2nd row verticaly centered images in square columns -->
<!-- Square Four -->
<div class="square hvr-float-shadow">
 <div class="content">
  <div class="table hvr-shadow-radial">
    <tr class="header">ascascasca</tr>
    <tr class="body">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1 class="fliptilesLabels">Most cars Sold</h1>
          </div>
          <div class="flip-card-back">
            <h1 class="fliptilesLabels">John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
      </div>

</tr>
  </div>
  </div>
</div>

<!-- Square Five -->
<div class="square hvr-float-shadow">
  <div class="content">
    <div class="table hvr-shadow-radial">
      <tr class="header">ascascasca</tr>
      <tr class="body">

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1 class="fliptilesLabels">Most cars Sold</h1>
            </div>
            <div class="flip-card-back">
              <h1 class="fliptilesLabels">John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
  </tr>
    </div>
  </div>
</div>

<!-- Square Six -->
<div class="square hvr-float-shadow">
 <div class="content">
  <div class="table hvr-shadow-radial">
    <tr class="header">ascascasca</tr>
    <tr class="body">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1 class="fliptilesLabels">Most cars Sold</h1>
          </div>
          <div class="flip-card-back">
            <h1 class="fliptilesLabels">John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
      </div>

    </tr>
  </div>
  </div>
</div>
