<app-top-bar></app-top-bar>
<div id="container">
  <div id="first">
      <h2>Customers
        <button id="addBTN" title="Add Note" data-toggle="modal" data-target="#myModal">+</button>

          <input type="text" placeholder="Search" aria-label="Search" id ="searchBar"
          required
          [(ngModel)] = "searchCustomer.surName">
          <span>
            <button (click)=searchViaSurname()>Search</button>
          </span>
      </h2>
      <h2>Total Customers : {{ TotalCustomers }}</h2>
  <ul class="customer" >
    <ul class="nav sidebar-nav">
      <li *ngFor="let customerList of customerList | paginate: { itemsPerPage: 10, currentPage: p }"
      [class.selected]="customerList === SelectedCustomer"
      (click)="onSelect(customerList)">
        <span class="badge">{{ customerList.custNumber }}</span> {{ customerList.firstName }} {{ customerList.surName }}
      </li>
     </ul>
  </ul>
  <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>

  </div>
  </div>

  <div *ngIf="SelectedCustomer" class="body" id="second">
    <h2 class = "detailsLabel">Details for {{ SelectedCustomer.firstName }} {{ SelectedCustomer.surName }}</h2>

    <div class="detailsBody">
      <label class ="spanBody">Customer's ID:
        <span><label class = "detailsLabel"></label> </span> {{ SelectedCustomer.custNumber }}
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Customer's First Name :
        <input type="text" id="fname" name="firstname" placeholder="First Name" [(ngModel)] = "SelectedCustomer.firstName">
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Customer's Last Name :
        <input type="text" id="lName" name="firstname" placeholder="Surname" [(ngModel)] = "SelectedCustomer.surName">
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Customer Phone Number :
        <input type="text" id="PNumber" name="Phone_Number" placeholder="Phone Number" [(ngModel)] = "SelectedCustomer.Phone_Number">
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Customer Address :
        <input type="text" id="address" name="address" placeholder="Address" [(ngModel)] = "SelectedCustomer.Address">
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Can customer rent :
        <span><label class = "detailsLabel"></label> </span> {{ SelectedCustomerCanRent }}
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Customer Created on :
        <span><label class = "detailsLabel"></label> </span> {{ SelectedCustomer.created }}
      </label>
    </div>

    <div class="detailsBody">
      <label class ="spanBody">Customer Last Rented :
        <span><label class = "detailsLabel"></label> </span> {{ SelectedCustomer.LastRented }}
      </label>
    </div>

    <div>
      <button class="actionBtn delete"  title="Delete Customer">Delete</button>
      <button class="actionBtn update"  title="Update Customer">Update</button>
    </div>
  </div>
